<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XM直播.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A613FD501F3C376D005EAD10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A613FD641F3C376D005EAD10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A613FD6F1F3C376D005EAD10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
